* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* To-Do Header Styles */
.todo-head-container {
  height: 50px;
  width: 450px;
  min-width: 400px;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  background-color: #02203c;
  color: white;
}

.todo-text {
  width: 180px;
  /* border: 1px solid yellow; */
}

.todo-text h1 {
  top: 5px;
}

.todo-logo {
  /* border: 1px solid green; */
  width: 30px;
  height: 50px;
}

.todo-logo span {
  top: 15px;
  left: 6px;
  transform: scale(2);
}

/* To-Do Styles */
.todo-container {
  height: 450px;
  width: 450px;
  min-width: 400px;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.desc-container {
  height: 80px;
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-input-container {
  height: 40px;
  width: 90%;
  border: 1px solid green;
  border-radius: 5px;
}

.desc-container span {
  left: 20px;
  top: 7px;
  transform: scale(1.5);
}

.desc-input-container input {
  width: 60%;
  height: 20px;
  border: none;
  outline: none;
  left: 50px;
  top: 9px;
}

.desc-input-container button[type="submit"] {
  right: 20px;
  top: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  transform: scale(1.5);
}

.task-container {
  height: 70%;
  width: 100%;
  border: 1px solid black;
  overflow: auto;
}
.list-ul {
  list-style: none;
  padding: 0;
  /* border: 1px solid red; */
}

.list-ul li {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  /* margin: 10px; */
  /* margin: 0; */
  padding: 12px 8px 12px 10px;
}
.list-ul li:nth-child(odd) {
  background: #f9f9f9;
}
.list-ul li:hover {
  background: lightgray;
}

.list-ul li p {
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 35px;
}

.list-ul li.complete {
  background-color: slategray;
  color: white;
  /* text-decoration: line-through; */
}

.list-ul li.complete p {
  text-decoration: line-through;
}

.delete-task-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 10px;
}

.delete-task-btn:hover {
  background-color: #f44336;
  color: white;
}

/* Common Classes */
.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.zero-margin {
  margin: 0;
}
