body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* To-Do Header Styles */
.todo-head-container {
  height: 50px;
  width: 450px;
  min-width: 400px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  background-color: #021b32;
  color: white;
}

.todo-text {
  width: 180px;
  /* border: 1px solid yellow; */
}

.todo-text h1 {
  top: 5px;
}

.todo-logo {
  /* border: 1px solid green; */
  width: 30px;
  height: 50px;
}

.todo-logo span {
  top: 15px;
  left: 6px;
  transform: scale(2);
}

/* To-Do Styles */
.todo-container {
  height: 450px;
  width: 450px;
  min-width: 400px;
  border: 1px solid blue;
}

/* Common Classes */
.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.zero-margin {
  margin: 0;
}
